<div class="dialogue-widget type">
  <img class="icon" src="">
  <h3 class="url"></h3>
  <span class="title"></span>
  <form>
  	<md-input-container>
    	<input tabindex="1" use-keyboard>
    </md-input-container>
  </form>
  <div class="divider"></div>
  <button class="cancel" tabindex="3"></button>
  <button class="ok" tabindex="2"></button>
</div>
