﻿<div  class="aware-service">
    <div class="content-heading">
        <span class="pull-left"  ng-click="vm.back()"><img src="images/arrow_back_white.png" /></span> Aware Service
    </div>
    <div class="content-wrapper ">
        <div class="row">
            <div class="col-xs-6">Aware Service</div>
            <div class="col-xs-6">
                <toggle ng-model="vm.awareSeriveEnabled" ng-change="vm.toggleService()" on="Enabled" off="Disabled" onstyle="btn-success" offstyle="btn-danger"></toggle>
            </div>
        </div>
    </div>
</div>