<div  class="clock">
    <div class="content-heading">
        <span class="pull-left"  ng-click="vm.back()"><img src="images/arrow_back_white.png" /></span> Clock
    </div>
    <div class="content-wrapper ">
        <div class="H0">{{vm.time}} <span class="H2">{{vm.time_am_pm}}</span></div>
        <div class="H2">{{vm.day}}</div>
        <div class="H3">{{vm.dayOfMonth}}</div>
        
        <div class="clock-content-actions">
            <sapn ng-click="vm.clockSettings()" class="H2"><i class="zmdi zmdi-settings"></i></span>
        </div>
    </div>
</div>