<div class="layout">
    <div class="navbar navbar-inverse navbar-fixed-top header" role="navigation">
        <div class="container">
            <div class="pull-left header-left">{{vm.name}}</div>
            <div class="pull-right header-right" >
                <span class="wifi-strenghth-image"><img ng-src="{{vm.wifiStrengthImage}}"></span>
                <span>{{vm.HHmm}}</span>
            </div>
            <!--
            <div class="collapse navbar-collapse">
                
            </div>
            -->
        </div>
    </div>
    <div class="content-page-wrapper">
        <div ui-view="" class="content-page" ng-class="vm.pageClass" animation-scrollbar-hide animation-event on-animation-end="vm.showLoading()"></div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="pull-left footer-left">
            <span><img ng-src="{{vm.wifiLogoImage}}"></span>
            <span>{{vm.wifiStatusText}}</span>
        </div>
        <div class="pull-right footer-right">
            <span><img ng-src="{{vm.awareLogoImage}}"></span>
        </div>
      </div>
    </footer>
</div>