<div class="metrics-selection-list">
	<form class="">
        <div class="form-group has-success has-feedback">
            <label class="dialog-title">Select devices you want to see</label>
            <div class="input-group">
                <div class="checkbox checkbox-info">
                    
                    <div ng-repeat="device in ovm.devices"><input type="checkbox" id="{{device.source_address}}"  checklist-model="ovm.selected" checklist-value="device.source_address"> <label for="{{device.source_address}}">{{device.source_address}}</label></div>
                </div>
            </div>
        </div>
    </form>
    <div class="content-actions">
		<button class="btn btn-primary" ng-click="confirm(ovm.selected)">OK</button>
		<button class="btn btn-default" ng-click="closeThisDialog()">CANCEL</button>
	</div>
</div>