<div class="hub-status">
    <div class="content-heading">
        <span class="pull-left"  ng-click="vm.back()"><img src="images/arrow_back_white.png" /></span> Aware Hub Status
    </div>
    <div class="content-wrapper settings-hub-status-content">
        <div class="row">
            
            <div class="col-xs-4"  ng-show="vm.tileId>=1" animation-event on-animation-start="vm.hideLoading()">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><i class="zmdi zmdi-menu"></i> General</h3>
                  </div>
                  <div class="panel-body panel-body-1">
                    <div class="info-content-row"> <span class="pull-left">Name:</span><span class="pull-right">{{vm.info.os.hostname}}</span></div>
                    <div class="info-content-row"> <span class="pull-left">OS:</span><span class="pull-right">{{vm.info.os.distro}}</span></div>
                    <div class="info-content-row"> <span class="pull-left">Kernel:</span><span class="pull-right">{{vm.info.os.kernel}}</span></div>
                    <div class="info-content-row"> <span class="pull-left">Uptime:</span><span class="pull-right">{{vm.info.time.uptime}}</span></div>
                  </div>
                </div>
            </div>

            <div class="col-xs-4"  ng-show="vm.tileId>=2">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><i class="zmdi zmdi-globe-alt"></i> Network</h3>
                  </div>
                  <div class="panel-body  panel-body-1">
                    <div  class="info-content-row"> <span class="pull-left">Ip Addr:</span><span class="pull-right">{{vm.info.ipAddress}}</span></div>
                    <div  class="info-content-row"> <span class="pull-left">Upload:</span><span class="pull-right">{{vm.info.networkStats.tx_sec}}</span></div>
                    <div  class="info-content-row"> <span class="pull-left">Download:</span><span class="pull-right">{{vm.info.networkStats.rx_sec}}</span></div>
                    <div  class="info-content-row internet-text"  ng-class="vm.internetText === 'Off' ?  'red' : 'green'">Internet : {{vm.internetText}}</div>
                  </div>
                </div>
            </div>

            <div class="col-xs-4"  ng-show="vm.tileId>=3">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><i class="zmdi2 zmdi-chip"></i> CPU Usage</h3>
                  </div>
                  <div class="panel-body ">
                    <div gauge="vm.info.currentLoad.currentload.toFixed(1)" gauge-text="vm.info.currentLoad.currentload.toFixed() + ' %'"></div>
                    <div  class="info-content-row"> <span class="pull-left">All:</span><span class="pull-right">{{vm.info.currentLoad.all}}</span></div>
                    <div  class="info-content-row"> <span class="pull-left">Used:</span><span class="pull-right">{{vm.info.currentLoad.currentload.toFixed(1)}} %</span></div>
                    <div  class="info-content-row"> <span class="pull-left">Free:</span><span class="pull-right">{{vm.info.currentLoad.free}}</span></div>
                  </div>
                </div>
            </div>

            <div class="col-xs-4"  ng-show="vm.tileId>=4">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><i class="zmdi2 zmdi-thermometer"></i> CPU Temperature</h3>
                  </div>
                  <div class="panel-body ">
                    <div gauge="vm.info.cpuTemperature.main" gauge-text="vm.info.cpuTemperature.main + ' &deg;C'"></div>
                    <div class="cpu-temperature-text"> {{vm.info.cpuTemperature.main}} &deg;C / {{vm.info.cpuTemperature.mainF}} &deg;F  </div>
                    
                  </div>
                </div>
            </div>

            <div class="col-xs-4"  ng-show="vm.tileId>=5">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><i class="zmdi2 zmdi-disk"></i> Disk Usage</h3>
                  </div>
                  <div class="panel-body ">
                    <div gauge="vm.info.fsSize.totalUsedPer" gauge-text="vm.info.fsSize.totalUsedPer + ' %'"></div>
                    <div  class="info-content-row"> <span class="pull-left">Size:</span><span class="pull-right">{{vm.info.fsSize.totalSize}}</span></div>
                    <div class="info-content-row"> <span class="pull-left">Used:</span><span class="pull-right">{{vm.info.fsSize.totalUsed}}</span></div>
                    <div class="info-content-row"> <span class="pull-left">Avail:</span><span class="pull-right">{{vm.info.fsSize.totalFree}}</span></div>
                  </div>
                </div>
            </div>

            <div class="col-xs-4"  ng-show="vm.tileId>=6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><i class="zmdi zmdi-memory"></i> Memory Usage</h3>
                  </div>
                  <div class="panel-body ">
                    <div gauge="vm.info.mem.usedPer" gauge-text="vm.info.mem.usedPer + ' %'"></div>
                    <div class="info-content-row"> <span class="pull-left">Total:</span><span class="pull-right">{{vm.info.mem.total}}</span></div>
                    <div class="info-content-row"> <span class="pull-left">Used:</span><span class="pull-right">{{vm.info.mem.used}}</span></div>
                    <div class="info-content-row"> <span class="pull-left">Free:</span><span class="pull-right">{{vm.info.mem.free}}</span></div>
                  </div>
                </div>
            </div>

            <div class="col-xs-4"  ng-show="vm.tileId>=7">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><i class="zmdi2 zmdi-history"></i> Version Information</h3>
                  </div>
                  <div class="panel-body  panel-body-1">
                    <div class="info-content-row"> <span class="pull-left">Current Version:</span><span class="pull-right"></span></div>
                    <div class="info-content-row"><span class="pull-right"><i>{{vm.currentVersion}}</i></span></div>
                    <div class="info-content-row"> <span class="pull-left">Updated:</span><span class="pull-right"></span></div>
                    <div class="info-content-row"><span class="pull-right"><i>{{vm.updated}}</i></span></div>
                    <div class="info-content-row"> <span class="pull-left">Aware Service:</span><span class="pull-right"></span></div>
                  </div>
                </div>
            </div>

        </div>
    </div>
</div>