﻿<div  class="dashboard">
	<div class="dashboard-row"> 
		<div class="dashboard-tile " ng-click="vm.gotoPage('/dashboard/awareservice')" ng-show="vm.tileId>=1">
			 <img src='images/aware_logo_small.png' class="aware-service-logo" />
		</div>
		<div class="dashboard-tile "  ng-show="vm.tileId>=2"  ng-click="vm.gotoPage('/dashboard/hubstatus')">
			<div class="hub-status-text H6">Hub Status</div>
			<img ng-src="{{vm.internetLogoImage}}" class="tile-logo" />
			<div class="tile-heading H5" ng-class="vm.internetText === 'Off' ?  'red' : 'green'">{{vm.internetText}}</div>
		</div>
		<div class="dashboard-tile " ng-show="vm.tileId>=3"  ng-click="vm.gotoPage('/dashboard/sensors')">
			<div class="hub-status-text H6">Sensors</div>
			<div class="tile-content">
				<div class="row">
					<div class="col-xs-6"><img ng-src="images/sensor_on.png" class="sensor-logo" /></div>
					<div class="col-xs-6 H3"><div class="sensor-text green">{{vm.sensorsOnCount}}</div></div>
				</div>
				<div class="row">
					<div class="col-xs-6"><img ng-src="images/sensor_off.png" class="sensor-logo" /></div>
					<div class="col-xs-6 H3"><div class="sensor-text red">{{vm.sensorsOffCount}}</div></div>
				</div>
			</div>
		</div>
		<div class="dashboard-tile "  ng-show="vm.tileId>=4"  ng-click="vm.gotoPage('/dashboard/weather')">
			<img src='images/weather.png' class="tile-logo" />
			<div class="tile-heading">Weather</div>
		</div>
	</div>
	<div class="dashboard-row">
		<div class="dashboard-tile " ng-click="vm.gotoPage('/dashboard/settings/general')"  ng-show="vm.tileId>=5">
			<img src='images/settings.png' class="tile-logo" />
			<div class="tile-heading">Settings</div>
		</div>
		<div class="dashboard-tile "  ng-show="vm.tileId>=6" ng-click="vm.gotoPage('/dashboard/clock')" >
			<img src='images/clock.png' class="tile-logo" />
			<div class="tile-heading">Clock</div>
		</div>
		<div class="dashboard-tile "  ng-show="vm.tileId>=7">
			<div class="empty-tile"><span>+</span></div>
		</div>
		<div class="dashboard-tile "  ng-show="vm.tileId>=8">
			<div class="empty-tile"><span>+</span></div>
		</div>
	</div>
</div>