<div class="login-wrapper">
	<form class="">
        <div class="form-group has-success has-feedback">
            <label class="dialog-title">{{ovm.title}}</label>
        </div>
        <br />
        <div class="dialog-message" ng-bind-html="ovm.message">

        </div>
        <br /><br /><br />
    </form>
</div>