<div class="metrics-selection-list">
	<form class="">
        <div class="form-group has-success has-feedback">
            <label class="dialog-title">Select metrics you want to see</label>
            <div class="input-group">
                <div class="checkbox checkbox-info">
                    
                    <div ng-repeat="metrics in ovm.metrics"><input type="checkbox" id="{{metrics}}"  checklist-model="ovm.selected" checklist-value="metrics"> <label for="{{metrics}}">{{metrics}}</label></div>
                </div>
            </div>
        </div>
    </form>
    <div class="content-actions">
		<button class="btn btn-primary" ng-click="confirm(ovm.selected)">OK</button>
		<button class="btn btn-default" ng-click="closeThisDialog()">CANCEL</button>
	</div>
</div>