
<div class="ngdialog-message">
  <h3 class="url">{{title}}</h3>
  <p class="title">{{text}}</p>
  <form>
    <md-input-container>
      <input tabindex="1" ng-model="value" use-keyboard>
    </md-input-container>
  </form>
</div>
<div class="ngdialog-buttons mt">
  <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(value)">OK</button> &nbsp;&nbsp;
  <button type="button" class="ngdialog-button ngdialog-button-danger" ng-click="closeThisDialog()">CANCEL</button>
</div>
