<div  class="sensors">
    <div class="content-heading">
        <span class="pull-left"  ng-click="vm.back()"><img src="images/arrow_back_white.png" /></span> Sensor Details
    </div>
    <div class="content-wrapper ">
        <div class="row">
            <div class="col-xs-3">
                <ui-select ng-model="vm.selectedStatusChoise" on-select="vm.onStatusSelected($item)">
                <ui-select-match>
                <span ng-bind="$select.selected"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in vm.statusChoises track by $index">
                <span ng-bind="item"></span>
                </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-xs-3">
                <ui-select ng-model="vm.selectedDevicesChoise" on-select="vm.onDevicesSelected($item)">
                <ui-select-match>
                <span ng-bind="$select.selected"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in vm.devicesChoises track by $index">
                <span ng-bind="item"></span>
                </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-xs-3">
                <ui-select ng-model="vm.selectedMetricsChoise" on-select="vm.onMetricsSelected($item)">
                <ui-select-match>
                <span ng-bind="$select.selected"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in vm.metricsChoises track by $index">
                <span ng-bind="item"></span>
                </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-xs-3"> </div>
        </div>
        <br />
        <div  fixed-first-column style="width:100%" class="sensor-table-wrapper">
            <table class="table table-condensed " width="1000px;">
                <thead>
                    <tr>
                        <th>Device</th>
                        <th ng-show="vm.selectedMetrics.indexOf('BatteryLevel')>=0">BatteryLevel</th>
                        <th ng-show="vm.selectedMetrics.indexOf('BatteryVoltage')>=0">BatteryVoltage</th>
                        <th ng-show="vm.selectedMetrics.indexOf('Distance')>=0">Distance</th>
                        <th ng-show="vm.selectedMetrics.indexOf('Humidity')>=0">Humidity</th>
                        <th ng-show="vm.selectedMetrics.indexOf('IsOpen')>=0">IsOpen</th>
                        <th ng-show="vm.selectedMetrics.indexOf('Presence')>=0">Presence</th>
                        <th ng-show="vm.selectedMetrics.indexOf('Room Temperature')>=0">RoomTemperature</th>
                        <th ng-show="vm.selectedMetrics.indexOf('Volume')>=0">Volume</th>
                        <th ng-show="vm.selectedMetrics.indexOf('LastSeen')>=0">LastSeen</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.sensors | filter: vm.checkStatus track by $index " ng-show="item.show">
                        <td ng-bind="item.source_address"></td>
                        <td ng-bind="item.BatteryLevel" ng-show="vm.selectedMetrics.indexOf('BatteryLevel')>=0"></td>
                        <td ng-bind="item.BatteryVoltage" ng-show="vm.selectedMetrics.indexOf('BatteryVoltage')>=0"></td>
                        <td ng-bind="item.Distance" ng-show="vm.selectedMetrics.indexOf('Distance')>=0"></td>
                        <td ng-bind="item.Humidity" ng-show="vm.selectedMetrics.indexOf('Humidity')>=0"></td>
                        <td ng-bind="item.IsOpen" ng-show="vm.selectedMetrics.indexOf('IsOpen')>=0"></td>
                        <td ng-bind="item.Presence" ng-show="vm.selectedMetrics.indexOf('Presence')>=0"></td>
                        <td ng-bind="item.RoomTemperature" ng-show="vm.selectedMetrics.indexOf('Room Temperature')>=0"></td>
                        <td ng-bind="item.Volume" ng-show="vm.selectedMetrics.indexOf('Volume')>=0"></td>
                        <td ng-bind="item.LastSeen" ng-show="vm.selectedMetrics.indexOf('LastSeen')>=0"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>