<div class="settings-content-wrapper">
	<div class="settings-header">Ethernet Settings</div>
	<div class="settings-general-content">
		 <div class="row">
            <div class="col-xs-4 col-xs-offset-2">Connection Method : </div>
            <div class="col-xs-4">
            	<ui-select ng-model="vm.selectedMethod">
				    <ui-select-match>
				        <span ng-bind="$select.selected"></span>
				    </ui-select-match>
				    <ui-select-choices repeat="item in vm.connectionMethods track by $index">
				        <span ng-bind="item"></span>
				    </ui-select-choices>
				</ui-select>
            </div>
        </div>
        <br />
		<form>
		  <div class="form-group">
		  	<md-input-container>
			    <label for="ip">IP Address</label>
			    <input type="text" class="form-control" id="ip" placeholder="Ip Address" ng-model="vm.ip" ng-disabled="vm.selectedMethod=='DHCP'" use-keyboard>
		    </md-input-container>
		  </div>
		  <div class="form-group">
		  	<md-input-container>
			    <label for="netmask">Netmask</label>
			    <input type="text" class="form-control" id="netmask" placeholder="Netmask" ng-model="vm.netmask" ng-disabled="vm.selectedMethod=='DHCP'" use-keyboard use-keyboard>
		    </md-input-container>
		  </div>
		  <div class="form-group">
		  	<md-input-container>
			    <label for="gateway">Gateway</label>
			    <input type="text" class="form-control" id="gateway" placeholder="Gateway" ng-model="vm.gateway" ng-disabled="vm.selectedMethod=='DHCP'" use-keyboard>
		    </md-input-container>
		  </div>
		</form>
		<form>
		  <div class="form-group">
		  	<md-input-container>
			    <label for="broadcast">Broadcast</label>
			    <input type="text" class="form-control" id="broadcast" placeholder="Broadcast" ng-model="vm.broadcast" ng-disabled="vm.selectedMethod=='DHCP'" use-keyboard on-show="vm.onKeybordShow()">
		    </md-input-container>
		  </div>
		  <div class="form-group">
		  	<md-input-container>
			    <label for="network">Network</label>
			    <input type="text" class="form-control" id="network" placeholder="Network" ng-model="vm.network" ng-disabled="vm.selectedMethod=='DHCP'" use-keyboard>
			</md-input-container>
		  </div>
		</form>
		<div class="settings-content-actions">
			<button class="btn btn-primary" ng-click="vm.set()">Set</button>
		</div>

	</div>

</div>