<div class="settings-content-wrapper">
	<div class="settings-header">General Settings</div>
	<div class="settings-general-content">
		<form>
		  <div class="form-group">
		  	<md-input-container>
			    <label for="name">Name</label>
			    <input type="text" class="form-control" id="name" placeholder="Name" ng-model="vm.name" use-keyboard>
		    </md-input-container>
		  </div>
		  <div class="form-group">
			 <md-input-container>
			    <label for="version">Version</label>
			    <input type="text" class="form-control" id="version" placeholder="Version" ng-model="vm.version" use-keyboard>
		    </md-input-container>
		  </div>
		  <div class="form-group">
		  	<md-input-container>
			    <label for="hostname">Hostname</label>
			    <input type="text" class="form-control" id="hostname" placeholder="Hostname" ng-model="vm.hostname" use-keyboard>
		    </md-input-container>
		  </div>
		  
		</form>
		<div class="settings-content-actions">
			<button class="btn btn-primary" ng-click="vm.apply()" >APPLY</button>
			<button class="btn btn-warning" ng-click="vm.closeApp()">CLOSE APP</button>
		</div>

	</div>

</div>
