<div class="login-wrapper">
	<form class="">
        <div class="form-group has-success has-feedback">
            <label class="dialog-title">Connect to {{ovm.ssid}} </label>
        </div>
        <div class="form-group">
            <md-input-container>
                <label for="Password"  style="display: none;"></label>
                <input type="{{ovm.showpassword}}" class="form-control" id="Password" placeholder="Input password here" ng-model="ovm.password"  use-keyboard>
            </md-input-container>
            <div class="input-group">
                <div class="checkbox checkbox-info">
                    
                    <div><input type="checkbox" id="ShowPassword"  ng-model="ovm.showpassword"
           ng-true-value="'text'" ng-false-value="'password'" />
            <label for="ShowPassword">Show Password</label></div>
                </div>
            </div>
            <br />
            <br />
        </div>
    </form>
    <div class="content-actions">
		<button class="btn btn-primary" ng-click="confirm(ovm.password)">YES</button>
		<button class="btn btn-default" ng-click="closeThisDialog()">NO</button>
	</div>
</div>