<div  class="settings">
    <div class="content-heading">
        <span class="pull-left"  ng-click="vm.back()"><img src="images/arrow_back_white.png" /></span> Settings
    </div>
    <div class="content-wrapper ">
        <div>
            <div class="btn-group">
                <label class="btn btn-primary ACCENT_COLOR2" ng-model="vm.selectedTab" uib-btn-radio="'general'" ng-click="vm.gotoPage('/dashboard/settings/general')">General</label>
                <label class="btn btn-primary ACCENT_COLOR2" ng-model="vm.selectedTab" uib-btn-radio="'ethernet'" ng-click="vm.gotoPage('/dashboard/settings/ethernet')">Ethernet</label>
                <label class="btn btn-primary ACCENT_COLOR2" ng-model="vm.selectedTab" uib-btn-radio="'wifi'" ng-click="vm.gotoPage('/dashboard/settings/wifi')">WiFi</label>
                <label class="btn btn-primary ACCENT_COLOR2" ng-model="vm.selectedTab" uib-btn-radio="'time'" ng-click="vm.gotoPage('/dashboard/settings/time')">Date & Time</label>
            </div>
        </div>
        <div class="settings-content-page-wrapper">
            <div ui-view="" class="settings-content-page" ng-class="vm.pageClass" animation-event on-animation-end="vm.showLoading()"></div>
        </div>
    </div>
</div>