<div class="settings-content-wrapper">
	<div class="settings-header">Wifi Settings</div>
	<div class="wifi-networks">
		<div class="wifi-network"  ng-repeat="net in vm.networks track by $index" ng-click="vm.connect(net)" > <!--style="animation-delay:{{$index * 200}}ms"-->
			<div class="network-image"> 
				<img src="" ng-src="images/wifi/{{net.signal_strength}}.png"/>
			</div>
			<div class="network-info">
				<div class="network-ssid">{{net.ssid}}</div>
				<div class="network-mac">{{net.mac}} ({{net.encrypted}})</div>
			</div>
			<hr />
		</div>
	</div>
</div>