<div class="settings-content-wrapper">
	<div class="settings-header">Date & Time Settings</div>
	<div class="content-wrapper settings-time-content">
        <div class="row">
            <div class="col-xs-6"  ng-show="vm.tileId>=1">
            	<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">Synchronize with Internet Time</h3>
				  </div>
				  <div class="panel-body">
				    <div  class="time-setting-title">Time Zone:</div>
				    <div>
				    	<ui-select ng-model="vm.selectedZone">
						    <ui-select-match>
						        <span ng-bind="$select.selected"></span>
						    </ui-select-match>
						    <ui-select-choices repeat="item in vm.timeZones track by $index">
						        <span ng-bind="item"></span>
						    </ui-select-choices>
						</ui-select>
				    </div>
				    <br />
				    <div class="action-buttons">
				    	<button class="btn btn-primary"  ng-click="vm.setTimeZone()">Change Time Zone</button>
				    </div>
				  </div>
				</div>
            </div>
            <div class="col-xs-6"  ng-show="vm.tileId>=2">
                <div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">Manual Setting</h3>
				  </div>
				  <div class="panel-body">
				    <div class="time-setting-title">Current Date & Time:</div>
				    <div>
					    <form class="form-inline">
						  <div class="form-group">

						    <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Date"  uib-datepicker-popup="{{vm.dateOptions.format}}" ng-model="vm.date" is-open="vm.isDateOpen" datepicker-options="dateOptions"  ng-click="vm.openCalendar()" >
						  </div>
						  <div class="form-group">
						    <input type="text" class="form-control" id="exampleInputPassword3" placeholder="Time"  datetimepicker ng-model="vm.time" options="vm.timeOptions">
						  </div>
						</form>
						<!--
						 <form class="form-inline">
						  <div class="form-group">
						    <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Date"  datetime-picker="dd MMM yyyy" ng-model="vm.date" is-open="vm.isDateOpen"  ng-click="vm.openCalendar($event, prop)" >
						  </div>
						  <div class="form-group">
						    <input type="text" class="form-control" id="exampleInputPassword3" placeholder="Time"   datetime-picker="HH:mm" ng-model="vm.time" is-open="vm.isTimeOpen"  ng-click="vm.openTime($event, prop)" >
						  </div>
						</form>-->
				    </div>
				    <br />
				    <div class="action-buttons">
				    	<button class="btn btn-primary" ng-click="vm.setDate()">Update Date & Time</button>
				    </div>
				  </div>
				</div>
            </div>
        </div>
    </div>
</div>