<div class="hub-status">
  <div class="content-heading">
    <span class="pull-left"  ng-click="vm.back()"><img src="images/arrow_back_white.png" /></span> Weather
  </div>
  <div class="content-wrapper settings-weather-content">
    <div class="row">
      
      <div class="col-xs-6 weather-content"  ng-show="vm.tileId>=1">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"> Weather</h3>
          </div>
          <div class="panel-body panel-body-1">
            <div class="info-content-row weather-text H4"> <img ng-src="{{vm.weatherImage}}" width="50px" > <span class="">{{vm.weather.channel.item.condition.text}}</span>
          </div>
          <div class="info-content-row weather-text H4" >
            <span><i class="zmdi zmdi-long-arrow-up"></i>
            {{vm.weather.channel.today.high}}&deg; </span>
            <span> <i class="zmdi zmdi-long-arrow-down"></i>
          {{vm.weather.channel.today.low}}&deg; </span>
        </div>
        <div class="info-content-row weather-temp-text H0">{{vm.weather.channel.item.condition.temp}}<span class="H1">&deg;F</span>
        </div>
        <div class="info-content-row weather-update H6">
          Updated: {{vm.weather.channel.item.condition.date}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6"  ng-show="vm.tileId>=2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"> Details</h3>
      </div>
      <div class="panel-body  panel-body-1">
        <div class="row">
          <div class="col-xs-4">
            <img ng-src="{{vm.weatherImage}}" class="weather-image-big">
          </div>
          <div class="col-xs-8">
            <div  class="info-content-row"> <span class="pull-left">Sunrise</span><span class="pull-right">{{vm.weather.channel.astronomy.sunrise}}</span></div>
            <div  class="info-content-row"> <span class="pull-left">Sunset</span><span class="pull-right">{{vm.weather.channel.astronomy.sunset}}</span></div>
            <div  class="info-content-row"> <span class="pull-left">Feels like</span><span class="pull-right">{{vm.weather.channel.item.condition.temp}}&deg;</span></div>
            <div  class="info-content-row"> <span class="pull-left">Humidity</span><span class="pull-right">{{vm.weather.channel.atmosphere.humidity}}%</span></div>
            <div  class="info-content-row"> <span class="pull-left">Visibility</span><span class="pull-right">{{vm.weather.channel.atmosphere.visibility}}{{vm.weather.channel.units.distance}}</span></div>
            <div  class="info-content-row"> <span class="pull-left">Wind</span><span class="pull-right">{{vm.weather.channel.wind.speed}}{{vm.weather.channel.units.speed}} W</span></div>
            
          </div>
        </div>
        
      </div>
    </div>
  </div>
  
</div>
</div>
</div>