﻿html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
}
body {
  padding-bottom: 40px;
  padding-top: 40px;
  color: #fff;
  font-size: 17px;
  max-width: 100%;
  overflow-y: auto;
  font-family: 'Roboto';
}
@media (min-width:1200px) {
  .container {
    width: 100% !important;
  }
}
.COLOR_1 {
  color: rgba(1, 1, 1, 1) !important;
}
.COLOR_2 {
  color: rgba(33, 150, 242, 1) !important;
}
.BACKGROUND_COLOR_DARK {
  background-color: rgba(30, 30, 30, 1) !important;
}
.BACKGROUND_COLOR_LIGHT {
  background-color: rgba(30, 81, 102, 1) !important;
}
.BACKGROUND_COLOR_LIGHT_LIGHT {
  background-color: rgba(30, 81, 102, .8) !important;
}
.BACKGROUND_COLOR_BLUE_LIGHT {
  background-color: rgba(0, 168, 226, 1) !important;
}
.BACKGROUND_COLOR_BLUE_LIGHT_1 {
  background-color: rgba(0, 168, 226, .2) !important;
}
.DISABLED_COLOR {
  background-color: rgba(158, 173, 181, 0.9) !important;
}
.ACCENT_COLOR {
  background-color: rgba(255, 153, 51, 1) !important;
}
.MODAL_BACKGROUND {
  background-color: rgba(0, 12, 12, .5) !important;
}
.ACCENT_COLOR2 {
  background-color: rgba(49, 131, 165, 1) !important;
}

.H0 {
  font-size: 72px;
}
.H1 {
  font-size: 48px;
}
.H2 {
  font-size: 36px;
}
.H3 {
  font-size: 28px;
}
.H4 {
  font-size: 24px;
}
.H5 {
  font-size: 20px;
}
.H6 {
  font-size: 17px;
}
.noScroll {
  overflow: hidden;
}

#spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: transparent;
  padding-bottom: 40px;
  padding-top: 40px;
}

.ajax-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -32px; /* -1 * image width / 2 */
  margin-top: -32px;  /* -1 * image height / 2 */
  display: block;
}


/* Default Overrde */
.btn {
  border-radius: 0;
}

.btn.btn-primary.ACCENT_COLOR2.active {
  background-color: rgba(30, 81, 102, 1) !important;
}
.btn.btn-primary {
  background-color: #2196f3;
  border-color: #2196f3;
  min-width: 100px;
}
.btn.btn-default {
  min-width: 100px;
}
.uib-datepicker-popup .btn.btn-default {
  width: 100%;
  min-width: initial;
}

.toggle-group .btn.btn-default {
  min-width: initial;
}
.checkbox label::before {
  margin-top: 5px;
}
.checkbox label::after {
  margin-top: 5px;
}
.checkbox label {
  font-size: 0.8em;
}

/* Layout */
.navbar-inverse {
  background-color: #000;
}
.navbar {
  min-height: 40px;
  line-height: 40px;
}
.header img {
  width: 36px;
  height: auto;
}
.header-right span {
  padding-left: 10px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;  /* Set the fixed height of the footer here */
  height: 45px;
  line-height: 45px;
  background-color: #000;
}
.footer img {
  width: auto;
  height: 45px;
}
.footer-left span:nth-child(2) {
  padding-left: 10px;
}
.layout [ui-view] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;    /*height: 100%;*/
  z-index: 0;    /* overflow-y: auto; */
  margin-bottom: 20px;
}
.layout {

  /*background-image: ;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 85px);
  width: 100%;
  position: absolute;
  z-index: 0;
  display: block !important;
}
.layout::after {
  content: "";
  background: url('../images/aware_bg.png') center no-repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.layout .layout-wrapper {
  min-height: 750px;
  position: relative;
}
@media screen and (max-width:992px) {
  .layout .layout-wrapper {
    min-height: initial;
  }
}

/* Dash board Page */ 
.dashboard {
      margin-top: 10px;
}
.dashboard-row {
  padding-left: 30px;
}
.dashboard .dashboard-tile {
  height: 200px;
  width: 200px;
  background: #1e5166;
  margin: 30px 0 0 30px;
  display: inline-block;
  text-align: center;
  position: relative;
  float: left;
}
.dashboard .dashboard-tile .empty-tile {
  font-size: 28px;
  margin-top: 75px;
}
.dashboard-tile.ng-hide-remove {
  animation: 0.5s lightSpeedIn ease;
}
.dashboard-tile .tile-logo {
  width: 80px;
  height: 80px;
  margin-top: 20px;
}
.dashboard-tile .aware-service-logo {
  width: 160;
  height: 93;
  margin-top: 30px;
}
.dashboard-tile .tile-heading {
  margin-top: 30px;
  font-size: 20px;
}
.dashboard-tile  .green {
  color: rgba(0,204,0,1);
}
.dashboard-tile  .red {
  color: rgba(255,0,0,1);
}
.dashboard-tile .hub-status-text {
  font-style: italic;
  position: absolute;
  top: 0px;
  left: 4px;
  color: grey;
}
.dashboard-tile .row {
  margin: 0;
  margin-top: 20px;
  line-height: 50px;
}
.dashboard-tile .tile-content {
  margin-top: 40px
}
.dashboard-tile .sensor-logo {
  width: auto;
  height: 50px;
}
.dashboard-tile .sensor-text {
  font-size: 28px;
  font-weight: bold;
}

/*  Conetent Page Base */
.content-page-wrapper {
  position: relative;
}
.content-page .content-heading {
  height: 50px;
  line-height: 50px;
  font-size: 28px;
  background: #1e5166;
  text-align: center;
}
.content-page .content-heading img {
  margin-top: -5px;
}
.content-page .content-wrapper {
  min-height: 400px;
  background: #1e5166;
  margin: 20px;
  position: relative;
}
 /* Content Pages */
.content-page .aware-service .content-wrapper {
  padding-top: 20px;
  min-height: 425px;
}
.content-page .aware-service .content-wrapper .col-xs-6:first-child {
  text-align: center;
  font-size: 24px;
}
.content-page .btn-group>.btn {
  border-radius: 0;
  margin-right: 5px;
}
.content-page .settings .content-wrapper {
  background: #fff;
  min-height: auto;
}
.content-page .settings {
  position: relative;
}
.dashboard, .settings, .aware-service {
  background: #fff;
}
.settings-content-page-wrapper {
  position: relative;
}
.layout .settings [ui-view] {
  height: 400px;
}
.settings-content-wrapper {
  border: 1px solid #eee;
  margin-top: 2px;
  padding: 10px;
  width: 100%;
  height: 400px;
  color: #666;
  background: #fff;
}
.settings-header {
  font-size: 24px;
  padding-bottom: 5px;
  margin: 10px 0 10px;
  border-bottom: 1px solid #eee;
}
.settings-general-content {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  min-height: 300px;
  overflow-y: auto;
  max-height: calc(100vh - 150px);
}
.settings-content-wrapper .form-group {
  margin-bottom: 15px;
  display: inline-block;
  width: 31%;
  margin: 5px;
}
.settings-content-wrapper .form-group label {
  font-size: 12px;
  color: #999;
}
.settings-content-wrapper .form-control {
  border: none;
  border-bottom: 1px solid #999;
  box-shadow: none;
  border-radius: 0;
}
.settings-content-actions {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.wifi-networks {
  widows: 100%;
}
.wifi-networks {
  width: 100%;
  border-right: 2px solid #666;
}
.wifi-network {
  width: 50%;
  padding: 5px 5px 0 5px;
  margin: 0;
  float: left;
  cursor: pointer;
}
.wifi-network:nth-child(odd) {
  border-right: 2px solid #ddd;
}
.wifi-network hr {
  border-top: 1px solid #eee;
  margin: 0;
}
.wifi-network {
  opacity: 1;
}
.wifi-network.ng-enter {
  animation: flipInX 1s both ease-in;
  animation-delay: 0.5s;
}
.wifi-network.ng-enter-active {
  opacity: 1;
}
.network-image {
  display: inline-block;
  padding-right: 5px;
}
.network-image img {
  width: 100%;
  margin-top: -20px;
}
.network-info {
  display: inline-block;
}
.network-ssid {
}
.network-mac {
  color: #ddd;
  font-size: 12px;
}
.gauge-container {
  margin: 0 auto;
  width: 200px;
}
.gauge-image {
  float: left;
  width: 200px;
  position: relative;
  height: 110px;
  background: url(../images/gauge/cadran.png) no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.gauge-text {
  position: absolute;
  top: 50px;
  font-size: 18px;
  color: #ddd;
  text-align: center;
  width: 100%;
}
.needle {
  position: absolute;
  left: 0px;
  width: 200px;
}
.clock .content-wrapper {
  text-align: center;
  padding-top: 20px;
}
.clock-content-actions {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.clock-content-actions img {
  width: 36px;
  height: auto;
}
.settings-general-content .row {
  margin: 0;
}
.settings-time-content .panel-heading {
  background: #333;
  color: #ddd;
}
.settings-time-content .panel-body {
  padding: 20px;
  background: #1e5166;
}
.settings-time-content .panel-body .action-buttons .btn {
  width: 100%;
}
.settings-time-content .panel-body .form-group {
  width: 40%;
  margin: 0;
  margin-right: 10px;
}
.settings-time-content .panel-body .form-group input {
  width: 100%;
}
.time-setting-title {
  color: #fff;
}
.settings-hub-status-content {
  padding: 20px;
}
.settings-hub-status-content .panel-heading {
  background: #000;
  color: #ddd;
}
.settings-hub-status-content .panel-title img {
  width: 20px;
  height: auto;
}
.settings-hub-status-content .panel-body {
  color: #fff;
  background: #1e5166;
  font-size: 14px;
}
.settings-hub-status-content .panel-body .info-content-row {
  clear: both;
  line-height: 23px;
  font-size: 17px;
}
.content-page .content-wrapper.settings-hub-status-content {
  background: transparent;
}
.settings-hub-status-content  .panel {
  min-width: 260px;
}
.settings-hub-status-content  .panel-body {
  min-height: 210px;
  padding-right: 20px;
  padding-left: 20px;
}
.settings-hub-status-content  .panel-body.panel-body-1 {
  padding: 20px 20px;
}
.settings-hub-status-content  .panel-body.panel-body-1 .info-content-row {
  line-height: 37px;
  font-size: 17px;
}
.panel-body .cpu-temperature-text {
  width: 100%;
  text-align: center;
  font-size: 20px;
}
.settings-hub-status-content  .panel-body.panel-body-1 .info-content-row.internet-text {
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
}
.panel-body .green {
  color: rgba(0,204,0,.7);
}
.panel-body .red {
  color: rgba(255,0,0,.7);
}
.settings-hub-status-content .col-xs-4.ng-hide-remove {
  animation: 0.5s zoomIn ease;
}
.settings-time-content .col-xs-6.ng-hide-remove {
  animation: 0.5s zoomIn ease;
}
.settings-weather-content .col-xs-6.ng-hide-remove {
  animation: 0.5s zoomIn ease;
}
.settings-weather-content {
  padding: 20px;
}
.settings-weather-content .panel-heading {
  background: #000;
  color: #ddd;
}
.settings-weather-content .panel-body {
  color: #fff;
  background: #1e5166;
  font-size: 14px;
}
.settings-weather-content .panel-body .info-content-row {
  clear: both;
}
.content-page .content-wrapper.settings-weather-content {
  background: transparent;
}
.settings-weather-content  .panel {
  min-width: 260px;
}
.settings-weather-content  .panel-body {
  min-height: 230px;
  padding-right: 20px;
  padding-left: 20px;
}
.settings-weather-content  .panel-body.panel-body-1 {
  padding: 20px 20px;
}
.settings-weather-content  .panel-body.panel-body-1 .info-content-row {
  line-height: 35px;
  font-size: 17px;
}
.settings-weather-content .weather-text {
  font-size: 20px;
  line-height: 50px;
}
.settings-weather-content .weather-text img {
  margin-top: -10px;
}
.settings-weather-content  .panel-body.panel-body-1 .info-content-row.weather-temp-text {
  font-size: 120px;
  text-align: center;
  line-height: 70px;
  padding: 11px;
}
.settings-weather-content .weather-text i {
  padding-right: 10px;
}
.settings-weather-content .weather-text span {
  padding-right: 10px;
}
.weather-image-big {

  /*width: 100%;*/
  height: 100px;
  width: 100px;
  margin-top: 35px;
}
.weather-update {
  font-size: 13px;
  margin-top: 0px;
}
.settings-weather-content  .panel-body.panel-body-1 .info-content-row.weather-update {
  line-height: 13px;
}
.content-page .sensors .content-wrapper {
  padding: 20px;
}
.metrics-selection-list .input-group {
  padding-left: 50px;
}

/* Dialog popup */
.ngdialog .content-actions {
  text-align: center;
}
.ngdialog.ngdialog-theme-default .ngdialog-content {
  border-radius: 0;
}
.ngdialog md-input-container {
  margin-bottom: 0;
}
.ngdialog md-input-container .md-errors-spacer {
  min-height: 0;
}
.ngdialog .dialog-title {
  border-bottom: 1px solid #ddd;
  width: 100%;
}
.ngdialog md-input-container {
  margin: 0;
}
.ngdialog .dialog-message {
  text-align: center;
  font-size: 17px;
}