
[fixed-first-column] {position:relative;
    width: 100%;
    height: calc(100vh - 270px);
    overflow-y: auto;}
[fixed-first-column]>.table-responsive {margin-left:180px;
    min-height: calc(100vh - 270px);}
[fixed-first-column]>.table-responsive .table {}
[fixed-first-column]>.table-responsive .table>thead>tr {
  color: white;
  background-color: rgba(49, 131, 165, 1);
  border: none;
  min-height: 34px;
}
[fixed-first-column]>.table-responsive .table>thead>tr {
  min-height: 34px;
}
[fixed-first-column]>.table-responsive .table > thead > tr > th {
 border: none; 
 padding-left: 10px;
 min-height: 34px;
}

[fixed-first-column]>.table-responsive .table > tbody > tr > td {
 border: none; 
 padding-left: 10px;
 min-height: 34px;
}
[fixed-first-column]>.table-responsive .table>thead>tr>td:first-child,
[fixed-first-column]>.table-responsive .table>tbody>tr>td:first-child,
[fixed-first-column]>.table-responsive .table>thead>tr>th:first-child,
[fixed-first-column]>.table-responsive .table>tbody>tr>th:first-child {
    position: absolute;
    min-width: 180px;
    width: 180px;
    border-right: 1px solid #ddd !important;
    border-bottom:1px solid #f5f5f5 !important;
  left:0;
  top:auto;
  padding-top:0 !important;
  padding-bottom:0 !important;
  text-align: center;
  color: white;
  background-color: rgba(49, 131, 165, 1);
  border: none !important;
}

[fixed-first-column] > .table-responsive .table > thead > tr > td:first-child > div,
[fixed-first-column] > .table-responsive .table > tbody > tr > td:first-child > div,
[fixed-first-column] > .table-responsive .table > thead > tr > th:first-child > div,
[fixed-first-column] > .table-responsive .table > tbody > tr > th:first-child > div {
  padding-top: 5px;
  padding-bottom: 5px;
  position:relative;
}

[fixed-first-column] td {
    min-width:150px; /* default width */
  max-width:300px;
  border: none;
}