﻿/* ANIMATIONS================================= */

/* Page animation */
.dashboard-page.ng-enter {
    z-index: 5555;
}
.dashboard-page.ng-leave {
    z-index: 6666;
}

.menu-page.ng-enter {
    animation: bounceInUp 0.8s both ease-in;
    animation-delay:0.8s; 
 }
.menu-page.ng-leave {
    animation: bounceOutDown 0.8s both ease-in;
    
}

.settings-page.ng-enter {
    animation: bounceInUp 0.8s both ease-in;
    animation-delay:0.8s; 
 }
.settings-page.ng-leave {
    animation: bounceOutDown 0.8s both ease-in;
}

.aware-service-page.ng-enter {
    animation: bounceInUp 0.8s both ease-in;
    animation-delay:0.8s; 
 }
.aware-service-page.ng-leave {
    animation: bounceOutDown 0.8s both ease-in;
}


.weather-page.ng-enter {
    animation: bounceInUp 0.8s both ease-in;
    animation-delay:0.8s; 
 }
.weather-page.ng-leave {
    animation: bounceOutDown 0.8s both ease-in;
    
}

.hub-status-page.ng-enter {
    animation: bounceInUp 0.8s both ease-in;
    animation-delay:0.8s; 
 }
.hub-status-page.ng-leave {
    animation: bounceOutDown 0.8s both ease-in;
    
}

.clock-page.ng-enter {
    animation: bounceInUp 0.8s both ease-in;
    animation-delay:0.8s; 
 }
.clock-page.ng-leave {
    animation: bounceOutDown 0.8s both ease-in;
    
}

.sensors-page.ng-enter {
    animation: bounceInUp 0.8s both ease-in;
    animation-delay:0.8s; 
 }
.sensors-page.ng-leave {
    animation: bounceOutDown 0.8s both ease-in;
    
}

/* Settings tab animation */
.settings-general-page.ng-enter {
    animation: bounceIn 1s both ease-in;
    animation-delay:0.5s; 
 }
.settings-general-page.ng-leave {
    animation: bounceOut 0.5s both ease-in;
    position: absolute;
}
.settings-ethernet-page.ng-enter {
    animation: bounceIn 1s both ease-in;
    animation-delay:0.5s; 
 }
.settings-ethernet-page.ng-leave {
    animation: bounceOut 0.5s both ease-in;
}
.settings-wifi-page.ng-enter { 
    animation: bounceIn 1s both ease-in;
    animation-delay:0.5s; 
 }
.settings-wifi-page.ng-leave {
    animation: bounceOut 0.5s both ease-in;
    position: absolute;
}
.settings-time-page.ng-enter {
    animation: bounceIn 1s both ease-in;
    animation-delay:0.5s; 
 }
.settings-time-page.ng-leave {
    animation: bounceOut 0.5s both ease-in;
}